<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8jkJZ9kV4y-q967Ss8YaTEwaCaiqTfdE</string>
	<key>GCM_SENDER_ID</key>
	<string>66159921843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yemekqr.pakettakip.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>paket-4dc39</string>
	<key>STORAGE_BUCKET</key>
	<string>paket-4dc39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66159921843:ios:58408121296091d289fec6</string>
</dict>
</plist>